.container{
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    width: max-content;
}

.text{
    text-align: left;
}

.textconttitle{
    width: inherit;
}

.imgcont{
    width: max-content;
    margin-right: 0px;
}

.images{
    margin: 15px;
    width: 300px;
    height: 300px;
}